$main-color: hsla(220, 31%, 47%, 1);

html,
body {
  font-size: 20px;
  font-family: 'Unify Serif', Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  color: #434343;
}

header {
  box-sizing: border-box;
  font-family: 'Unify Sans', sans-serif;

  h1 {
    font-style: italic;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    color: #222;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: normal;
    color: #666;
    margin-top: 0px;
    margin-bottom: 2rem;
  }

}

section {
  max-width: 650px;
  padding: 20px;
  margin: 0 auto;
  z-index: 0;
}

p {
  line-height: 1.4;
}

.graphic {
  margin: 40px auto;
  font-family: 'Unify Sans', sans-serif;

  .title {
    font-size: 26px;
    font-weight: bold;
    color: #222;
    margin-bottom: 5px;
  }
  
  .subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
  }

  .layers {
    position: relative;

    .layer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

select,
button {
  background: #fff;
  color: $main-color;
  // box-shadow: 0px 4px 6px hsla(0, 0%, 0%, 0.2);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid $main-color;
  border-radius: 0.25rem;
  vertical-align: middle;
  line-height: 1.5;
  outline: 0;
  padding: 0.2rem 0.7rem;
}

select {
  display: inline-block;
  padding-right: 1.7rem;
  appearance: none;
}

.select-form {
  position: relative;
  display: inline-block;

  .title {
    position: absolute;
    bottom: 100%;
    margin-bottom: 3px;
    font-size: 12px;
    text-transform: uppercase;
    color: fade-out($main-color, 0.2);
  }
}

.select-form::before {
  font-family: 'Font Awesome 5 Free', sans-serif;
  display: inline-block;
  font-style: normal;
  font-weight: 800;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: '\f107';
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translate(0px, -50%);
  color: fade-out($main-color, 0.2);
  pointer-events: none;
}

button.inactive {
  color: fade-out($main-color, 0.7);
  background: #fcfcfc;
}

button:hover {
  color: fade-out($main-color, 0.2);
  background: #fcfcfc;
  border-color: fade-out($main-color, 0.2);
}

.smooshed-buttons {
  display: inline-block;
  font-size: 0;
  border-radius: 0.25rem;
  vertical-align: middle;

  button {
    box-shadow: none;
  }

  button:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid hsla(203, 50%, 65%, 0.25);
  }

  button:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.no-mouse {
  pointer-events: none;
}

.test-icon::before {
  display: inline-block;
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: '\f107';
}