<!doctype html>
<html>
<head>
    <%= require('html-loader!./html/metadata.html') %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body data-content-byline="" data-content-cst="" data-content-ssts="">
    <script src="/shared/header/v5/header.js"></script>
    <%= require('html-loader?attrs=img!./html/story.html') %>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4.js"></script>
    <%= require('html-loader!./html/analytics.html') %>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

    <script id="footer-script" src="/shared/footer/v1/footer.js" 
        data-first-link="https://www.wausaudailyherald.com/story/news/2019/01/08/hurley-snowiest-city-wisconsin-snow-capital-winter-tourism/2192873002/"
        data-first-headline="In Hurley, the Snow Capital of Wisconsin, they get 16 feet per year"
        data-first-image="https://www.gannett-cdn.com/presto/2018/12/20/PWAU/52410348-88d5-48a7-bfa5-6f6fc9f8d16d-TZK06612.JPG?width=400"
        data-first-desc="The little town of Hurley, population 1,480, is Wisconsin's snowiest city. The rugged people here respond with sisu, hygge, and lots of shoveling."
        data-second-link="https://www.jsonline.com/story/weather/2018/04/15/milwaukees-worst-snowstorms-21st-century/1011745001/"
        data-second-headline="Milwaukee's worst snowstorms of the 21st century"
        data-second-image="https://www.gannett-cdn.com/media/2018/01/10/WIGroup/Milwaukee/636511906436496543-storm2005redarrowpark.JPG?width=400"
        data-second-desc="A look at the heaviest snowfalls in the Milwaukee area since 2001.">
    </script>
</body>
</html>