#monthly-maps {
    .legend {
        text-align: center;
    }
    
    .axis .domain {
        display: none;
    }

    .axis .tick line {
        display: none;
    }

    .axis .tick text {
        fill: #666;
        font-size: 20px;
        font-family: 'Unify Sans', sans-serif;
    }

    .border {
        fill: none;
        stroke: #ccc;
        border-width: 0.5px;
    }

    .layers {
        position: relative;
    }
    
    .annotations {
        position: absolute;
        left: 0;
        top: 0;
    }
}